# Ignore specific IDE and tool-related files
**/.classpath
**/.env
**/.git
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

# Ignore build output folders but include .csproj and Dockerfile
**/bin
**/obj
!**/*.csproj
!Dockerfile
!**/*.cs

# Explicitly allow .gitignore and important Git files
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
